header {
    
}




/*Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 840px) {
    /* Hide main content and display desktop message */
    header, .content {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 840px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Hide all other content */
    header, .content {
      display: none;
  }
}

@media (max-width: 2600px) {
    .footer_refs {
        align-items: center;
    }
}

@media (max-width: 1260px) {
    .menu_desplegable {
        flex-direction: column;
        align-items: center;
        margin-left: 0;

    }
}