header{
    /*background-color:#f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    height: 150px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

h1{
    text-align: center;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;*/ /*APPLE FONT*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #a1a1a6;
    /*color: white;*/ /*LIGHT MODE*/
}

.h1_Stud {
    margin-top: 40px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.h1_IA {
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 50px;
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
    padding-top: 40px;
}

body {
  /*background-color: white;*/ /*LIGHT MODE*/
  background-color: black;
}

.spacer_firstHeader {
    width: 440px;
}

.studia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.spacer_header {
    width: 200px;
}

.menu-desplegable {
    display: flex;
    list-style: none;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    /*background-color: #f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    font-size: 20px;
    padding-top: 40px;
}
  
.menu-desplegable a {
    text-decoration: none;
    /*color:black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
    padding: 10px;
    border-bottom: 1px;
}
  
.menu-desplegable a:hover {
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
}

.que_somos {
    width: 100%; 
    margin-top: 100px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 200px;
}

.que_somos p {
    display: inline-block;
    margin: 0;
    text-align: center;
    margin-top: -200px;
}

.title_que_somos {
    background: radial-gradient(#eff1ff,black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 120%;
    font-size: 60px;

    /*ANIMACION APARICION TEXTO*/
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 3s ease;
    height: 100px; /* Altura suficiente para permitir el desplazamiento */
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.spacer {
    height: 10px;
}

.body_que_somos1 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  
.body_que_somos1_1 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  
  /*PACK 2*/
.body_que_somos2 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}

.body_que_somos2_1 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  
  /*PACK 3*/
.body_que_somos3 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  
  /*PACK 4*/
.body_que_somos4 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  
.body_que_somos4_1 {
    /*color: black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
}
  /*FIN PACK 4*/

.remarkables {
    padding-bottom: 30px;
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
}

.video_row {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

.video_row1 {
    display: flex;
    justify-content: center;
}

.video_row2 {
    display: flex;
    justify-content: center;
}

.spacer_videos {
    width: 11px;
}

.spacer_btw_videos {
    width: 11px;
}

.party{
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    /*background-color: white;*/ /*LIGHT MODE*/
    background-color: black;
    font-size: 60px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    width: 100%;
}

.partytext {
  text-align: center;
  padding-top: 50px;
  font-size: 100px;
  background: linear-gradient(45deg, #0080FF, #00FF6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 4s infinite alternate;
  transition: top 0.3s;

  /*ANIMACION APARICION TEXTO AL HACER SCROLL*/
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
  height: 500px; /* Altura suficiente para permitir el desplazamiento */
}

.mostrar {
  opacity: 1;
  transform: translateY(0);
}

.appstore_logo {
    display: flex;
    width: 8%;
    height: 8%;
    padding-left: 45%;
    padding-bottom: 30px;
}

footer {
    background-color: #1d1d1f;
    height: 0px;
}

.footer_refs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 600;
    /*background-color: #f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    font-size: 15px;
}

.footer_refs a {
    text-decoration: none;
    /*color:black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
    padding: 10px;
    border-bottom: 1px;
    padding-top: 14px;
}

.footer_refs a:hover {
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
}

.copyright {
    /*padding-top: 186px;*/
    color: #a1a1a6;
    padding-right: 60px;
    padding-top: 4px;
}





/* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
}

.h1_mobile {
  display: none;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2em;
  color: white;
  text-align: justify;
  background-color: black;
  flex-direction: column; /* Align children in a column */
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
}

/* Adjustments for desktop devices and apology message */
.desktop-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column *//*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
}

.h1_desktop {
  display: none;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2em;
  color: white;
  text-align: justify;
  background-color: black;
  flex-direction: column; /* Align children in a column */
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  font-family: "Gill Sans", "Arial", "Helvetica Neue", sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
      background-position: 100% 50%;
    }
}

@keyframes radial-gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 50% 100%;
  }
}

/*Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 40px) {
    /* Hide main content and display desktop message */
    header, .que_somos, .party, .desktop-message, .video_row, .footer_refs, .appstore_logo {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 40px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Hide all other content */
    header, .que_somos, .party, .desktop-message, .video_row, .footer_refs, .appstore_logo {
      display: none;
  }
}

@media (max-width: 1260px) {
    .video_row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 2600px) {
    .footer_refs {
        align-items: center;
    }
}

@media (max-width: 1260px) {
    .menu_desplegable {
        flex-direction: column;
        align-items: center;
        margin-left: 0;

    }
}